.section 
  .container.cotainer-release
    h2.section__h2 Сейчас в кино
    .slider-top
      .slider-buttons
        button.swiper-button-prev
        button.swiper-button-next
    .movies.swiper 
      .movies-premier.swiper-wrapper