.section 
  .container.container-trendingMovies 
    h2.section__h2 Популярные фильмы
    .slider-top
      .slider-buttons
        button.swiper-button-prev
        button.swiper-button-next
    .movies.swiper
      .movies-trendingMovies.swiper-wrapper 
    a(href="movieList.html").section__link.section__link-trendingMovies Показать еще