.section 
  .container 
    h2.section__h2 Популярные ТВ ШОУ
    .slider-top
      .slider-buttons
        button.swiper-button-prev
        button.swiper-button-next
    .movies.movies.swiper
      .movies-trendingTVShows.swiper-wrapper
    button.section__btn Показать еще