.container-movie {
  max-width: 1200px;
  margin: 0 auto;
  &__btnUp {
    cursor: pointer;
    position: sticky;
    left: 90%;
    bottom: 5%;
    background-color: transparent;
    background-image: url(../img/up.svg);
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: .2s ease box-shadow;
    &:hover {
      box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.4);
    }
  }
      
}

.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  &-btn {
    cursor: pointer;
    border: none;
    background: $bg-gradient;
    border-radius: 100px;
    color: $white;
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding: 15px 34px;
    transition: .2s ease box-shadow;
    &:hover {
      box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.8);
    }
  }
}

.movie {
  width: 260px;
  margin: 10px;
  position: relative;
  &__img {
    max-width: 100%;
    height: 400px;
    position: relative;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 0px 0px rgba(44, 176, 249, 0.0);
    transition: .2s ease box-shadow;
    border-radius: 20px;
    &:hover {
      box-shadow: 0px 0px 20px rgba(44, 176, 249, 0.7);
    }
  }
  &-info {
    padding: 10px 0;
    &__title {
      font-size: 20px;
      font-weight: 700;
    }
    &__genre {
      &-link {
        color:rgb(50, 108, 255,);
        text-decoration: none;
      }
    }
    &__average {
      position: absolute;
      top: 10px;
      left: 10px;
      border-radius: 50%;
      width: 36px;
      height: 36px;
      background: $bg-gradient;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      font-weight: 700;
      &--green {
        border: 2px solid rgb(3, 129, 3);
      }
      &--orange {
        border: 2px solid rgb(255, 153, 0);
      }
      &--red {
        border: 2px solid rgb(255, 2, 2);
      }
    }
  }
}

.block-loading {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: $black;
  &::after {
    content: '';
    display: block;
    background-image: url(../img/load.svg);
    background-repeat: no-repeat;
    block-size: cover;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30%;
    left: 50%;
  }
}