.section 
  .container-movie
    .movieList 
      .movie  
        .movie__cover-inner 
          img(src=require('../../img/poster.png'), alt="").movie__img
        .movie-info 
          .movie-info__title Соси ту люсю
          a(href="#").movie-info__ganre Пизделка
          .movie-info__average.movie-info__average--green 9

      
