.section 
  .container 
    .container-item
      img(src='#', alt="").container__img
      .description
        h1.description__name Последний богатырь: Корень зла
        ul.description-info
          li.description-info__country США, Великобритания
          li.description-info__year 1222
          li.description-info__time 1h 228min
          li.description-info__age 18-
        .description-ganres
          h4.description-ganres__title Жанры:
          //- a(href="#").description-ganres__ganre Комедия
          //- a(href="#").description-ganres__ganre Трагикомедия
        .description-rating 
          h4.description-rating__title Рейтинг:
          span.description-rating__rating 16
        p.description__text Россия времён гражданской войны. Театральный режиссёр-самоучка Искремас «искусство — революционным массам»  пытается создавать новое искусство в своём небольшом городке, который поочерёдно захватывают то красные, то белые, то зелёные.

        