.section 
  .container 
    .container-item
      img(src='#', alt="").container__img
      .description
        h1.description__name 
        ul.description-info
          li.description-info__country 
          li.description-info__year 
          li.description-info__time
          li.description-info__age 
        .description-ganres
          h4.description-ganres__title Жанры:
          //- a(href="#").description-ganres__ganre Комедия
          //- a(href="#").description-ganres__ganre Трагикомедия
        .description-rating 
          h4.description-rating__title Рейтинг:
          span.description-rating__rating 
        p.description__text 
        