.section 
  .container 
    .marketing 
      .marketing-item 
        a(href="#").marketing__link 
          img(src=require('../../../img/marketing.png'), alt="marketing").marketing__img
      .marketing-item 
        a(href="#").marketing__link 
          img(src=require('../../../img/marketing.png'), alt="marketing").marketing__img