.marketing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 46px;
  &-item {
 
  }
  &__link {
    display: flex;
    overflow: hidden;
  }
  &__img {
    width: 98%;
    border-radius: 20px;
  }
}