.section 
  .container 
    .marketing 
      .marketing-item 
        a(href="./movie.html?id=1200189").marketing__link 
          img(src=require('../../../img/residentAlien.png'), alt="marketing").marketing__img
      .marketing-item 
        a(href="./movie.html?id=843772").marketing__link 
          img(src=require('../../../img/fantastik.png'), alt="marketing").marketing__img