.header {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  align-items: center;

  &-logo {
    display: flex;
    justify-content: space-between;
  }
  &-img {
    background-color: #fff;
    border-radius: 15px;
     width: 50px;
  }
}