header 
  .header 
    a(href="#").header-logo
      img(src=require('../../img/logo.svg'), alt="Logo").header-img
      p.header-text Movies
    nav 
      ul.nav 
        li.nav-item 
          a(href="#").nav-link.active Home 
        li.nav-item 
          a(href="movie.html").nav-link Movies
        li.nav-item 
          a(href="#").nav-link Serials
        li.nav-item 
          a(href="#").nav-link Home 
    ul.control
      li.control-item 
        button.control-btn.control-btn_search
      li.control-item 
        button.control-btn.control-btn_notification
      li.control-item 
        button.control-btn.control-btn_createacc