header
  .header 
    a(href="/index.html").header-logo
      img(src=require('../../img/logoblue.png'), alt="Logo").header-img
    nav 
      ul.nav 
        li.nav-item 
          a(href="#").nav-link.active Home 
        li.nav-item 
          a(href="movieList.html").nav-link Movies
        li.nav-item 
          a(href="#").nav-link Serials
        li.nav-item 
          a(href="#").nav-link Home 
    ul.control
      li.control-item 
        //- button.control-btn.control-btn_search
        form 
          input(type="text" placeholder="Поиск").control__search
      li.control-item 
        button.control-btn.control-btn_notification
      li.control-item 
        button.control-btn.control-btn_createacc