header.header
  .container
    .header-inner 
      a(href="index.html").header-logo
        img(src=require('../../img/logoblue.png'), alt="Logo").header-img
      .header-burger
        span
      nav 
        ul.nav
          li.nav-item 
            a(href="index.html").nav-link Главная 
          li.nav-item 
            a(href="movieList.html").nav-link Фильмы
          li.nav-item 
            a(href="movieList.html?tv").nav-link Телешоу
      ul.control
        li.control-item 
          form.control-form
            input(type="text" placeholder="Поиск").control__search
        li.control-item 
          .toggle 
            img(src=require('../../img/sun.svg'), alt="").toggle-icon.toggle-icon__moon
            img(src=require('../../img/moon.svg'), alt="").toggle-icon.toggle-icon__sun
            .toggle-ball