.footer{
  background-color: #101012;
  margin-top: 50px;
  &__inner{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 70px 0;
  }

  &__col{
      flex: 0 0 19%;
  }
  &__img {
    height: 200px;    
  }

  &__link{
      display: block;
      font-size: 18px;
      font-weight: 600;
      line-height: 2;
      color: #C2C2C2;
      text-decoration: none;
      position: relative;

      &:hover{
          color: #fff;
      }

      &:hover::after{
          opacity: 1;
      }
  }

  // MEDIA
//   @media (max-width: $laptop){
//       &__col{
//           &:first-child{
//               flex-basis: 100%;
//               justify-content: center;
//               text-align: center;
//           }
//           flex-basis: 32%;
//           margin-bottom: 40px;
//       }
//   }

//   @media (max-width: $tablet){
//       &__inner{
//           padding: 40px 0;
//       }
//       &__col{
//           &:first-child{
//               flex-basis: 100%;
//               justify-content: center;
//               text-align: center;
//           }
//           flex-basis: 50%;
//           margin-bottom: 40px;
//       }
//   }

//   @media (max-width: $mobile){
//       &__col{
//           flex-basis: 100%;
//           margin-bottom: 40px;
//       }
//   }
}