@import './variables.scss';
@import './fonts.scss';

@import '../modules/header/header.scss';
@import '../modules/banner/banner.scss';
@import '../modules/content/content.scss';
@import '../modules/watch_movie/watch_movie.scss';
@import '../modules/footer/footer.scss';
@import '../modules/movie_list/movie_list.scss';




body {
  background-color: $black;
  color: $white;
  font-size: 16px;
  font-family: "Mulish", sans-serif;
}

.container {
  max-width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; 
}