@import './variables.scss';
@import './fonts.scss';

@import '../modules/header/header.scss';
@import '../modules/banner/banner.scss';



body {
  background-color: $black;
  color: $white;
  font-size: 16px;
  font-family: "Mulish", sans-serif;
}