$white: #fff;
$black: #000;
$bg-gradient: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
$bg-gradient-safe: #2dacf9;

// media queries
$desktop: 1200px;
$laptop: 1000px;
$tablet: 870px;
$mobile: 480px;
$mobile-landscape: 850px;
$mobile-sm: 360px;
$mobile-sm-landscape: 650px;